@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-behavior: smooth;
}

#root {
  scroll-behavior: smooth;
}

body {
  /* font-size: 18px; */
  font-weight: 400;
  line-height: 31px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

::-webkit-scrollbar {
  width: 5px !important;
  background: #dfdfdf !important;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: #a5a5a5;
  border-left: 0.5px solid #a5a5a5;
  border-right: 0.5px solid #a5a5a5;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a5a5a5;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
  border-radius: 0.5rem !important;
}
.swiper-pagination-bullet {
  height: 0.4rem !important;
  background-color: #fff !important;
}

.swiper-pagination-bullets {
  position: absolute !important;
  bottom: 10px !important;
}
.loader {
  border: 3px solid transparent;
  border-top: 3px solid #ffffff;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: inline-block;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.hamburger.open .line:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}
.hamburger.open .line:nth-child(2) {
  opacity: 0;
}
.hamburger.open .line:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}
