@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-behavior: smooth;
}

#root {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
  border-radius: 0.5rem !important;
}
.swiper-pagination-bullet {
  height: 0.4rem !important;
  background-color: #fff !important;
}

.swiper-pagination-bullets {
  position: absolute !important;
  bottom: 10px !important;
}
